@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap');

/* global */
:root {
  --deep-sea: #095256;
  --light-sea: #5AAA95;
  --floral-white: #FFF8F0;
  --faded-orange: #FFF8F066;
}

body {
  margin: 0;
}

.main {
  height: 100vh;
  width: 100vw;
}

.flex-container {
  display: flex;
}

h1 {
  font-family: 'Chelsea Market', cursive;
  margin: 0;
}
  
  /* left side */
.photo-panel {
  position: relative;
  background: linear-gradient(var(--light-sea, white), var(--deep-sea, blue));
  background-image: url("/catamaran-banner.jpg");
  background-size: cover;
  background-position: center;
  flex-grow: 1;
  max-width: min(25rem, 35%);
}

.photo-banner {
  position: absolute;
  align-items: center;
  justify-content:space-around;

  width: 100%;
  top: 15%;
  height: 3em;
  padding-top: 10px;
  padding-bottom: 10px;
}

.title {
  font-size: 1em;
  text-align: center;
}

#sunrise-icon {
  height: 100%;
  filter: invert(75%) sepia(2%) saturate(2579%) hue-rotate(319deg) brightness(128%) contrast(109%);;
}

.banner-fade {
  color: var(--floral-white);
  background: rgb(255,248,240);
  background: linear-gradient(310deg, rgba(255,248,240,0.05) 0%, rgba(255,136,17,0.3) 100%);
}

.footer {
  position: absolute;
  background-color: var(--floral-white);
  bottom: 0px;
  width: 100%;
  opacity: 0.4;
}

/* right side */
.right-panel {
  background-color: blue;
  flex-direction: column;
  justify-items: stretch;
  flex-grow: 3;
  min-width: 60%;
}

.panel {
  flex-grow: 1;
}

.panel1 {
  background-color: red;
}

.panel2 {
  background-color: green;
}

.panel3 {
  background-color: orange;
}