@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap');

/* global */
:root {
  --deep-sea: #095256;
  --light-sea: #5AAA95;
  --floral-white: #FFF8F0;
  --panel-shade: #ece8d9;
  --panel-shadow: #afa787;
  --on-shade-text: #312e21;
}

html, body, p, h2 {
  margin: 0;
  padding: 0;
}

.main {
  height: 100vh;
  width: 100vw;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 500;
  font-size: 100%;
}

.flex-container {
  display: flex;
}

h1 {
  font-family: 'Chelsea Market', cursive;
  margin: 0;
}
  
/* left side */
.photo-panel {
  position: relative;
  background: linear-gradient(var(--light-sea, white), var(--deep-sea, blue));
  background-image: url("./catamaran-banner.jpg");
  background-size: max(100vh, 500px);
  background-position: center;
  background-repeat: no-repeat;
  flex-grow: 1.5;
  font-size: .8rem;
}

.photo-banner {
  position: absolute;
  align-items: center;
  justify-content:space-evenly;
  justify-self: stretch;

  width: 100%;
  top: 15%;
  height: 10%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.title {
  color: var(--floral-white);
  text-align: center;
  font-size: calc(1vh * 1vw);
}

#sunrise-icon {
  height: min(100%);
  width: min(100%, 20%);
  filter: invert(88%) sepia(11%) saturate(1319%) hue-rotate(355deg) brightness(90%) contrast(86%);
}

.banner-fade {
  background: linear-gradient(310deg, rgba(0, 37, 32,0.05) 0%, rgba(215, 190, 130, 0.3) 100%);
}

.footer {
  position: absolute;
  background-color: var(--floral-white);
  bottom: 0px;
  width: 100%;
  opacity: 0.4;
}

/* right side */
.right-panel {
  flex-direction: column;

  flex-grow: 3;
  max-width: 70%;
}

.panel {
  position: relative;
  flex-grow: 1;
  font-size: clamp(8px, 1em, 20px);
  padding-right: 15%;
  background-color: var(--panel-shade);
  color: var(--on-shade-text);
}

.container {
  padding: 5%;
  padding-right: inherit;
  position: absolute;
}

.panel1>.container {
  bottom: 0;
}

form {
  display: flex;
}

.form-column {
  margin: 10%;
  margin-left: 0;
  display: flex;
  flex-direction: column;
}

.panel2 {
  background-color: white;
  box-shadow: 0 3px 10px var(--panel-shadow);
  z-index: 1;
  flex-grow: 2;
}

input {
  margin: 3px;
}

label {
  font-size: 0.8em;
}

.panel3 {
  
}